<form action="/tasks/<%= @task['id'] %>" method='post'>
  <label for='name'>Task:</label>
  <input type='text' name='name' value="<%= @task['name'] %>">

  <br>
  <br>

  <label for='details'>Details:</label>
  <textarea name='details'></textarea>

  <br>
  <br>
  
  <button>Submit Edited Task</button>

</form>