<form action="/tasks" method='post'>
  <label for='name'>Task:</label>
  <input type='text' name='name'>

  <br>
  <br>

  <label for='details'>Details:</label>
  <textarea name='details'></textarea>

  <br>
  <br>
  
  <button>Add Task</button>

</form>