<% @individual_task.each do |task| %>
  <h5>Task Name:</h5>
  <p><%= task['name'] %></p>
  <h5>Task Details:</h5>
  <p><%= task['details'] %></p>
  <a href="/tasks/<%= task['id'] %>/edit">Edit This Task</a>
  <br>
  <a href="/tasks/<%= task['id'] %>/delete">Delete This Task</a>
  <hr>
<% end %>